@font-face {font-family: "iconfont";
  src: url('../../fonts/iconfont.eot?t=1'); /* IE9*/
  src: url('../../fonts/iconfont.eot?t=1') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/iconfont.woff') format('woff'),
  url('../../fonts/iconfont.ttf?t=1') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../fonts/iconfont.svg?t=1#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-f-tel:before { content: "\e61d"; }

.icon-inquire:before { content: "\e62f"; }

.icon-therapy:before { content: "\e622"; }

.icon-money:before { content: "\e60c"; }

.icon-desc:before { content: "\e66f"; }

.icon-doctors:before { content: "\e602"; }

.icon-dialogue:before { content: "\e646"; }

.icon-user:before { content: "\e60a"; }

.icon-tel:before { content: "\e647"; }

.icon-column:before { content: "\e644"; }

.icon-position:before { content: "\e601"; }

