@import "common.css";
@import "iconfont.css";

/*  */
#topGlide{
  display: block;
  position: fixed;
  top: 0;
  z-index: 100000000;
  max-width: 640px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.container{
  padding-top: 4.37rem;
}

.nav-btns .btn{
  width: 97%
}

.item-title{
  margin: 1.625rem auto;
}
.title-h1{
  line-height: 4rem;
  font-size: 2rem;
}
.item-box{
  margin: 1rem 0 0.5rem;
}

/* 立即咨询按钮 */
.online-consultation{
  margin: 1.2rem 0 3rem;
}
.online-consultation a{
  display: inline-block;
  height: 4.375rem;
  line-height: 4.375rem;
  background: #e6f4fd;

  font-size: 2rem;
  color: #000;
  margin: auto;
}
.online-consultation a:hover{
  color: #000;
}
.icon-tel{
  font-size: 3rem;
  vertical-align: sub;
  margin: 0 1rem;
}
.online-consultation .btn{
  margin: 0 0.8rem 0 0;
}
.desc-txt{
  font-size: 1.43rem;
  line-height: 2rem;
  padding: 1.7rem;
  text-indent: 2em;
}
.txt-box{
  margin: 1.5rem auto 2.5rem;
  color: #fff;
  background: #0f63ab;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

.rehabilitation li{
  margin-bottom: 0.8rem;
}
.media .media-body{
  width: 58%;
}
.rehabilitation .media-heading{
  font-size: 1.6rem;
  color: #006AB8;
}
.rehabilitation .media-heading img{
  width: 12%;
}
.rehabilitation .desc{
  font-size: 0.9rem;
  color: #000;
  margin: 1rem 0;
}

/* 其他癫痫患者想要了解 */
.know-title{
  font-size: 2rem;
}
.know-list .icon-footprint{
  padding: 0 2rem 0 0;
  width: 17%;
}
.know-list .row{
  padding: 1.2rem;
  border-bottom: 1px #000 dotted;
}
.know-list h3{
  font-size: 1.3rem
}
.know-list .tel-btn{
  margin-top: 1.2rem;
}

/* 专家推荐 */
.business-card{
  background: #3C9FED;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 1rem #666;
  color: #fff;
}
.content7 .title-content{
  margin: 0 auto 1rem;
  text-align: center;
}
.content7 .icon-arrow-down{
  color: #eb6100;
  font-size: 2rem;
  font-weight: bold;
}
.content7 .title-expert{
  color: #fff;
  font-size: 3rem;
  text-align: center;
  background: #eb6100;
  width: 85%;
  margin: auto;
  border-radius: 0.5rem;
}
.business-card .media-left{
  position: relative;
}
.doctor-zkb{
  position: absolute;
}
.doctor-name{
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  margin: 1rem;
}
.doctor-job{
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
}
.business-card p{
  font-size: 1.2rem;
}
.business-card p img{
  margin-right: 1.2rem;
}
.business-card .detail{
  margin-left: 2.2rem;
  width: auto;
}
.business-card .doctor-tab{
  width: 90%;
}


/* 轮播图 */
.swiper-container{
  width: 90%;margin:auto;
}
.swiper-wrapper{
  width: 100%;
}

/* 您与健康只差一个电话 */
#talk-txt{
  color: #3b9174;
}
.ask .icons li{
  text-align: center;
  color: #fff;
}
.icon-bg{
  border-radius: 50%;
  padding: 0.5rem 1rem;
}
.ask a{
  color: #fff;
}
.ask .iconfont{
  display: inline-block;
  font-size: 3rem;
}
.ask .txt{
  font-size: 1rem;
  white-space: nowrap;
}
.dialogue{
  background: #48c5d9;
}
.therapy{
  background: #70c1ff;
}
.doctors{
  background: #76c87c;
}
.money{
  background: #39c773;
}

/* 底部导航 */
.footer-nav{
  background: #10a971;
}
.footer-nav a{
  color: #fff;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

/*
.footer-nav a:not(:last-child){
  border: 1px solid red
}*/

/*  */

.text-content h3{
  color: #03ac6b;
}
.text-content li{
  padding: 0.5rem 0
}
