@import "common.css";
@import "iconfont.css";
body {
  font-family: "Microsoft Yahei","Droid Serif", Georgia, "Times New Roman", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei", serif;
  color: #231815;
}

html {
  overflow-x: hidden;
}
p,
ul,
ul li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.top-info {
  background: #323232;
}
.top-info {
  color: #fff;
  overflow: hidden;
  padding: 12px 0 11px;
}
.rt-link {
  margin-left: 67px;
}
.rt-link li:not(:last-child) a {
  border-right: 1px solid #fff;
}
.rt-link a {
  color: #fff;
  padding: 0 11px 0 6px;
}
.navbar {
  background: #f2f2f2;
  padding: 0;
}
.navbar li {
  float: left;
  padding: 20px  16px;
}
.navbar li a {
  color: #313232;
}
.navbar li:not(:last-child) {
  margin-right: 13px;
}
.navbar li:last-child {
  background: #3197cf;
  padding: 15px 20px;
}
.navbar li:last-child a {
  color: #fff;
}
.navbar li:last-child .iconfont {
  font-size: 24px!important;
}
/* banner */
.banner {
  position: relative;
  height: 52.6875rem;
  width: 100%;
  background: url('../../images/banner.jpg') no-repeat;
  background-size: 100% 100%;
}
.banner .btns {
  position: absolute;
  bottom: 68px;
  left: 0;
  right: 0;
  text-align: center;
}
.btns a {
  /* #ffd804  #fff5a0 */
  color: red;
  font-size: 34px;
  padding: 12px 50px;
  background-image: -webkit-linear-gradient(to top, #ffd804, #fff5a0);
  background-image: linear-gradient(to top, #ffd804, #fff5a0);
  border-radius: 10px;
}
.btns .iconfont {
  font-size: 34px;
  margin-right: 10px;
}
/* content-title-bg */
.content-title-bg {
  background: url('../../images/bg-pic1.jpg') no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 380px;
}
.content-title-bg p {
  padding: 40px 156px 0;
  color: #fbea00;
  font-size: 18px;
}
.item-title-img {
  position: relative;
}
.item-title-img img {
  position: absolute;
  right: 10px;
  text-align: right;
  top: 170px;
}
/* 模块1 厚惠有期 */
.discount-list {
  margin-top: 1.875rem;
}
.discount-list li {
  box-shadow: 0 0 5px 0 rgba(148, 140, 125, 0.75);
  border: 1px solid #ccc;
  border-radius: 0.9375rem;
  background: #fff;
  font-size: 1.125rem;
  color: #5b5b5b;
  padding: 1.25rem 1.0625rem;
  margin-bottom: 1.375rem;
}
.discount-list .media-lt img {
  padding: 0 1.5rem 0.625rem 0;
}
.discount-list li h3 {
  font-size: 3.125rem;
  color: #ffa800;
}
.discount-list li .price-btn {
  display: inline-block;
  background: #ffa800;
  color: #fff;
  width: 14.0625rem;
  height: 2.5625rem;
  line-height: 2.5625rem;
  border-radius: 0.625rem;
}
.discount-list li .media-right {
  border: 1px solid #ccc;
}
.discount-list .consult-btn {
  padding: 11px 34px;
  color: #fff;
  background: #eb8e22;
  border-radius: 10px;
}

/* common */
.error {
  color: #ea0000;
}
.warning {
  color: #ffa800;
}
.w-1000 {
  max-width: 1002px;
}
.w-1020 {
  max-width: 1020px;
}
.overflow-hidden {
  overflow: hidden;
}
.bg-light-orange{background: #fbedd3;}
.border-red-rounded{border:1px solid #c61112;border-radius: 1rem;}
.border-muted{border:1px solid #d2d2d2;}
.text-grey{color: #5b5b5b;}
.text-orange{color: #ffa800;}
.text-golden{color: #ffef05;}
.btn-orange {color: #fff;background-color: #ffa800;border-color: #ffa800;}
.btn-orange:hover {color: #fff;background-color: #eb8e22;border-color: #eb8e22;}
.btn-red{color: #fff;background-color: #b40f0f;border-color: #b40f0f;border-radius: 1rem;}
.btn-red:hover{opacity: 0.8}
.btn-blue{color: #fff;background-color: #004f88;border-color: #004f88;border-radius: 1rem;}
.btn-blue:hover {opacity: 0.8;}
.btn-green{color: #fff;background-color: #448301;border-color: #448301;border-radius: 1rem;}
.btn-green:hover {opacity: 0.8;}

/*模块2*/
.idea-item1{background: url('../../images/num1-bg.png') no-repeat;background-size: 100% 100%;}
.idea-item2{background: url('../../images/num2-bg.png') no-repeat;background-size: 100% 100%;}
.idea-item3{background: url('../../images/num3-bg.png') no-repeat;background-size: 100% 100%;}

/*模块4 公益成果*/
.result-item{position: relative;}
.result-item-title{position: absolute;bottom: 0;background: rgba(0,0,0,0.6);}

/*模块5*/
.doctor-item{position: relative;}
.doctor-item .doctor-btn{position: absolute;bottom: 0;}

/*footer*/
.footer .wechat{position: relative;}
.footer .wechat .wechat-txt{position: absolute;width: 2rem;height: 75%;top: 0;margin-top: 12.5%;margin-left: -2rem;background: rgba(59,163,215,0.6);}