.main {
  background: #e9e1d6;
  padding-bottom: 1.5rem;
}
/* item-content1 中国抑郁症患者数量庞大 */
.item {
  padding-top: 0.8333333333333334rem;
  width: 24.041666666666668rem;
  margin: 0 auto ;
}
.title-box {
  height: 2.5rem;
  background: url('../../images/title-top-bg.png') no-repeat;
  background-size: 100% 100%;
}
.title-box .title {
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #276476;
  text-shadow: #ffffff 2px 1px 1px, #ffffff 1px 2px 1px, #ffffff -2px 1px 1px, #ffffff 1px -2px 1px;
  -webkit-text-shadow: #ffffff 2px 1px 1px, #ffffff 1px 2px 1px, #ffffff -2px 1px 1px, #ffffff 1px -2px 1px;
  -moz-text-shadow: #ffffff 2px 1px 1px, #ffffff 1px 2px 1px, #ffffff -2px 1px 1px, #ffffff 1px -2px 1px;
}
.box {
  background: #fdf4ed;
}
.item-content1 .box {
  padding: 1.25rem 1.2083333333333333rem 1.625rem;
}
/* item-content2 抑郁症的高发人群 */
.item-content2 ul .content {
  border: 1px solid #f19149;
  height: 100%;
}
.item-content2 .cn-txt {
  font-size: 0.75rem;
}
.item-content2 .en-txt {
  font-size: 0.5rem;
  -webkit-text-size-adjust: none;
}
.item-content2 .content p {
  font-size: 0.6666666666666666rem;
  text-indent: 2em;
  padding: 0.5rem 0 0.5833333333333334rem;
  text-align: justify;
}
.item-content2 .box {
  padding: 0.3333333333333333rem 0.4166666666666667rem 0.5416666666666666rem;
}
/*.item-content2 .list{
  display: -webkit-flex; /!* Safari *!/
  display: flex;
}
.item-content2 .lis{
  align-items: stretch
}*/
/* item-content3 抑郁症自测—将疾病消灭在萌芽当中 */
.item-content3 .form-title {
  font-size: 1.3333333333333333rem;
  color: #276476;
}
.item-content3 .form-test .tit {
  text-align: justify;
}
.item-content3 .form-test .row {
  padding-bottom: 0.16666666666666666rem;
}
.item-content3 .form-test {
  font-size: 0.8333333333333334rem;
}
.item-content3 .box {
  padding: 0.875rem 0.4166666666666667rem 0.75rem;
}
.item-content3 .btns a {
  width: 4.5rem;
  height: 1.5833333333333333rem;
  line-height: 1.5833333333333333rem;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 0.08333333333333333rem;
}
.item-content3 .btns #test a {
  background: #276476;
}
.item-content3 .btns #reset a {
  background: #eb6100;
}
.item-content3 .text-content1 {
  font-size: 0.9166666666666666rem;
  text-align: justify;
}
.item-content3 .text-content1 .txt-title {
  color: #276476;
  font-size: 1.0833333333333333rem;
}
.item-content3 .header div {
  color: #276476;
}
/* item-content4 专家推荐 */
.item-content4 .title-expert {
  font-size: 2.3333333333333335rem;
  color: #eb6100;
  font-weight: bold;
}
.item-content4 h6 {
  color: #2a2929;
  font-size: 1.3333333333333333rem;
}
.item-content4 .doctors-content {
  width: 23.458333333333332rem;
  height: 1.7083333333333333rem;
}
.item-content4 .card-bg {
  width: 23.458333333333332rem;
  height: 1.7083333333333333rem;
  margin: auto;
}
.item-content4 .card-top {
  background: url('../../images/wt.png') no-repeat;
  background-size: 100% 100%;
}
.item-content4 .card-bottom {
  background: url('../../images/wb.png') no-repeat;
  background-size: 100% 100%;
}
.business-card {
  width: 20.208333333333332rem;
  margin: auto;
  height: 100%;
  background-color: #dcdddd;
  box-shadow: 0.20833333333333334rem 0.041666666666666664rem 0.125rem 0 rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
}
.business-card .m-left {
  position: relative;
}
.business-card .m-object {
  position: absolute;
  bottom: 0;
}
.doctor-name {
  font-family: MicrosoftYaHei;
  font-size: 1.6666666666666667rem;
  color: #2a2929;
}
.business-card .m-body {
  color: #020000;
  float: left;
}
.doctor-job {
  font-size: 0.9166666666666666rem;
  color: #2a2929;
  text-indent: 2em;
}
.business-card p {
  font-size: 0.75rem;
  margin-bottom: 0;
}
.business-card p img {
  margin-right: 0.5rem;
}
.business-card .detail {
  margin-left: 1.5rem;
  width: auto;
}
.item-content4 .content {
  position: relative;
}
.business-card .zbk {
  background: url('../../images/zkb.png') no-repeat;
  background-size: 40% ;
  background-position-x: left;
  background-position-y: bottom;
}
.business-card .zxl {
  background: url('../../images/zxl.png') no-repeat;
  background-size: 48%;
  background-position-x: left;
  background-position-y: bottom;
}
/* item-content6  抑郁症的终结者—CN脑神经多维平衡疗法 */
.contact .box {
  background: url('../../images/block.jpg') repeat-y;
  background-size: 100% ;
  padding: 0.4166666666666667rem 0;
}
.item-content6 .content {
  background: #fff;
  margin: 0 0.4166666666666667rem;
  padding: 0.9166666666666666rem 1.9166666666666667rem;
}
.item-content6 .content-list {
  padding-bottom: 6rem;
}
.item-content6 .box .desc {
  padding: 0.4166666666666667rem 1.6666666666666667rem;
}
.item-content6 .box h3 {
  font-size: 1.3333333333333333rem;
  color: #eb6100;
}
.item-content6 .box .txt {
  font-size: 0.9166666666666666rem;
  text-align: justify;
}
.item-content6 .contact {
  padding: 0 0.4166666666666667rem;
}
.item-content6 .title-content .one {
  font-size: 1.125rem;
  color: #562b0d;
  padding-top: 0.4166666666666667rem;
}
.item-content6 .title-content .two {
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
}
.item-content6 .title-content .three {
  font-size: 1.25rem;
}
.item-content6 .title-content .four {
  font-size: 1.375rem;
  color: #fff;
  padding-bottom: 4.166666666666667rem;
}
.item-content6 .title-content {
  height: 19.166666666666668rem;
  background: url('../../images/bg1.png') no-repeat;
  background-size: 100% 100%;
}
.item-content6 .list {
  margin-top: -11.25rem;
  position: relative;
  z-index: 99;
}
.item-content6 .list .li {
  background: #fff;
  margin: 0.8333333333333334rem;
  border-radius: 0.8333333333333334rem;
  box-shadow: 0px -4px 2px 0 #d8d8d8, 4px 0 5px 0 #d8d8d8, 0 4px 2px 0 #d8d8d8, -4px 0 2px 0 #d8d8d8;
  position: relative;
  z-index: 999;
}
.item-content6 .list .num {
  margin-top: 1.25rem;
}
.item-content6 .list .cn-txt {
  font-size: 1.5rem;
  font-weight: bold;
}
.item-content6 .list .en-txt {
  font-size: 0.9166666666666666rem;
  color: #918f8f;
}
.item-content6 .list .li-lt p {
  width: 3.3333333333333335rem;
  height: 3.3333333333333335rem;
  border: 1px dotted #e9540b;
  border-radius: 50%;
  font-size: 0.8333333333333334rem;
  padding-top: 0.3333333333333333rem;
  color: #e9540b;
}
.item-content6 .list .li-rt {
  font-size: 0.7916666666666666rem;
  color: #231815;
  text-align: justify;
  padding-bottom: 0.4166666666666667rem;
}
.item-content6 .list .row {
  margin-top: 1.25rem;
}
.item-content6 .bottom-bg {
  height: 17.083333333333332rem;
  width: 100%;
  background: url('../../images/bg2.png') no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  position: absolute;
  bottom: -6rem;
}
.item-content6 .bottom-bg .btns {
  position: absolute;
  bottom: 0.8333333333333334rem;
  padding: 0.8333333333333334rem 0;
}
.item-content7 .box .content {
  background: #fff;
}
.item-content7 .title {
  font-size: 2rem;
  font-weight: bold;
  color: #eb6100;
}
.item-content7 .sub-title {
  font-size: 1.3333333333333333rem;
  color: #000;
}
.item-content7 .carousel-item .desc {
  position: absolute;
  bottom: 10%;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem 0;
  background-image: linear-gradient(177deg, rgba(235, 97, 0, 0.62) 0%, rgba(246, 140, 64, 0.62) 100%);
}
/* 您与健康只差一个电话 */
#talk-txt {
  color: #3b9174;
  font-size: 1rem;
}
.ask .icons li {
  text-align: center;
  color: #fff;
}
.icon-bg {
  border-radius: 50%;
  padding: 0.5rem 1rem;
}
.ask a {
  color: #fff;
}
.ask .iconfont {
  display: inline-block;
  font-size: 2rem;
}
.ask .txt {
  font-size: 0.9rem;
  white-space: nowrap;
}
.ask h5 {
  font-size: 0.8333333333333334rem;
}
.dialogue {
  background: #48c5d9;
}
.therapy {
  background: #70c1ff;
}
.doctors {
  background: #76c87c;
}
.money {
  background: #39c773;
}
/* 底部导航 */
.footer-nav {
  background: #10a971;
}
.footer-nav a {
  color: #fff;
  font-size: 1rem;
  display: block;
  width: 95%;
  text-align: center;
  padding: 0.5rem 0;
}
.footer-nav li:not(:last-child) {
  border-right: 1px solid #fff;
}
.text-content h3 {
  font-size: 1.1rem;
  color: #03ac6b;
  padding-bottom: 0.2rem;
}
.text-content li {
  padding: 0.1rem 0;
  font-size: 1rem;
}
