*{font-size: 0.9rem;color: #4d4d4d;font-family: "microsoft yahei",Arial;}
@media (max-width: 575px) {
    *{font-size: 0.9rem;color: #4d4d4d;font-family: "microsoft yahei",Arial;}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    *{font-size: 0.9rem;color: #4d4d4d;font-family: "microsoft yahei",Arial;}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
    *{font-size:1rem;color: #4d4d4d;font-family: "microsoft yahei",Arial;}
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    *{font-size: 1rem;color: #4d4d4d;font-family: "microsoft yahei",Arial;}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    *{font-size: 1rem;color: #4d4d4d;font-family: "microsoft yahei",Arial;}
}

/*common*/
.text-indent{text-indent: 2em;}
.text-dark{color: #000 !important;}
.text-blue{color: #0f6795;}
.dashed-line{border-top: dashed 1px #d2d2d2;}

/**/
p{margin-bottom: 0.5rem;}